<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Ready to take your business to the next level?</h2>
            <p class="cs-text">
                At DV Web Development websites are our passion, in an ever advancing world of technology we are determined to mkae your site cutting edge - we want you to be successful, so we can be successful.
            </p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" src="assets/images/laptopwgraphs.jpg">
        <source media="(min-width: 601px)" src="assets/images/laptopwgraphs.jpg">
        <img loading="lazy" decoding="async" src="assets/images/laptopwgraphs.jpg" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                