---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/twomacs.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/twomacs.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/twomacs.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/DanielVanWormerPicture-removebg.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/DanielVanWormerPicture-removebg.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/DanielVanWormerPicture-removebg.png" alt="A picture of Daniel (Founder)" loading="lazy" width="400" height="563">
                </picture>
                <!-- <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/svgs/dvlogo.svg">
                    <source media="(min-width: 601px)" srcset="/assets/svgs/dvlogo.svg">
                    <img aria-hidden="true" decoding="async" src="/assets/svgs/dvlogo.svg" alt="log" loading="lazy" width="200" height="200">
                </picture> -->
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet.
                    </p>
                    <span class="cs-name">Daniel VanWormer</span>
                    <span class="cs-job">Founder and Lead Developer</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">DV Web Development</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    

    {% include 'components/cta.html' %}

{% endblock %}