---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1785">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Outdo the competition</span>
                <h1 class="cs-title">Build Your Site With Us</h1>
                <p class="cs-text">
                    
                </p>
                <div class="cs-button-group">
                    <a href="" class="cs-button-solid cs-button1">Read More</a>
                </div>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" src="assets/images/webheroimage.jpg">
            <source media="(min-width: 601px)" src="assets/images/webheroimage.jpg">
            <img loading="lazy" decoding="async" src="assets/images/webheroimage.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
        </picture>
        <!-- uncomment top line if you want splatter effect back -->
        <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <!-- <img class="cs-graphic cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" > -->
    </section>
                                
    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-884">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">What sets us apart?</span>
                <h2 class="cs-title">Our Features</h2>
                <p class="cs-text">
                    At DV Web Dev we strive to bring you the best site for your needs. That means making your content viewable on EVERY device, loading pages quickly, having a slick and easy to digest design, and ranking higher in Google's search algorithm.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">Responsive</h3>
                    <p class="cs-item-p">
                        Did you know mobile web traffic accounts for 61.95% of all web traffic? That makes it so important to ensure that content is easy to read, no matter your screen size.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Fast</h3>
                    <p class="cs-item-p">
                        The last thing your users want is to be waiting around for a page to load. Slow websites leads to less customers, we work hard to ensure that will never happen to you.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Good Looking</h3>
                    <p class="cs-item-p">
                        Web users love to judge a page by its cover, accoridng to Stanford University nearly 40% of users will immediately stop using a poorly designed site, and 75% will lose trust in a company with a poor site.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">SEO Optimized</h3>
                    <p class="cs-item-p">
                        More clicks = More conversions, find out how we optimize your web page in Google, as well as other search algorithms.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Forange-arrow.svg" alt="arrow" loading="lazy" decoding="async" aria-hidden="true">
    </section>
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-1279">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://images.pexels.com/photos/3760069/pexels-photo-3760069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://images.pexels.com/photos/3760069/pexels-photo-3760069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <img loading="lazy" decoding="async"  src="https://images.pexels.com/photos/3760069/pexels-photo-3760069.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Two people shaking hands over a contract" width="738" height="598">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Pricing - Contract</span>
                <h2 class="cs-title"><span>$0</span> Down<br><span>$150</span>/month<br>12 Months Minimum</h2>
                <p class="cs-text">
                    Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
                </p>
            </div>
        </div>
    </section>       

    {% include 'components/cta.html' %}
{% endblock %}