---
title: 'DV Web Development'
description: 'Meta description for the page'
preloadImg: '/assets/images/webheroimage.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1785">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Outdo the competition</span>
                <h1 class="cs-title">Build Your Site With Us</h1>
                <p class="cs-text">
                    
                </p>
                <div class="cs-button-group">
                    <a href="" class="cs-button-solid cs-button1">Read More</a>
                </div>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" src="assets/images/webheroimage.jpg">
            <source media="(min-width: 601px)" src="assets/images/webheroimage.jpg">
            <img loading="lazy" decoding="async" src="assets/images/webheroimage.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
        </picture>
        <!-- uncomment top line if you want splatter effect back -->
        <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <!-- <img class="cs-graphic cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" > -->
    </section>
                                
    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-884">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">What sets us apart?</span>
                <h2 class="cs-title">Our Features</h2>
                <p class="cs-text">
                    At DV Web Dev we strive to bring you the best site for your needs. That means making your content viewable on EVERY device, loading pages quickly, having a slick and easy to digest design, and ranking higher in Google's search algorithm.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">Responsive</h3>
                    <p class="cs-item-p">
                        Did you know mobile web traffic accounts for 61.95% of all web traffic? That makes it so important to ensure that content is easy to read, no matter your screen size.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Fast</h3>
                    <p class="cs-item-p">
                        The last thing your users want is to be waiting around for a page to load. Slow websites leads to less customers, we work hard to ensure that will never happen to you.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">Good Looking</h3>
                    <p class="cs-item-p">
                        Web users love to judge a page by its cover, accoridng to Stanford University nearly 40% of users will immediately stop using a poorly designed site, and 75% will lose trust in a company with a poor site.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">SEO Optimized</h3>
                    <p class="cs-item-p">
                        More clicks = More conversions, find out how we optimize your web page in Google, as well as other search algorithms.
                    </p>
                    <a href="" class="cs-link">
                        Learn More
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-arrow-right.svg" loading="lazy" decoding="async" alt="arrow" width="24" height="24">
                    </a>
                </li>
            </ul>
        </div>
        <!--Floating Arrow Graphic-->
        <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Forange-arrow.svg" alt="arrow" loading="lazy" decoding="async" aria-hidden="true">
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-76">
        <div class="cs-container">
            <div class="cs-wrapper">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" src="assets/images/undrawbusinessman.png">
                    <source media="(min-width: 601px)" src="assets/images/undrawbusinessman.png">
                    <img loading="lazy" decoding="async" src="assets/images/undrawbusinessman.png" alt="A drawn character leaning on a desktop web page" width="500" height="552" aria-hidden="true">
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Pricing - By Contract</span>
                <h2 class="cs-title"><span>$0</span> Down<br><span>$150</span>/month<br>12 Months Minimum</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue. Condimentum pellentesque sed aliquet leo in potenti libero.
                </p>
                <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
            </div>
        </div>
    </section>
                                

    
    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-282">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Logo design</h3>
                        <p class="cs-item-text">
                            Need help designing or updating a logo? We've got your back with up to 4 handcrafted logos included FREE with your subscription
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">48 Hour Changes</h3>
                        <p class="cs-item-text">
                            Request changes anytime, we'll have them implemented within 48 hours.
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Google Analytics</h3>
                        <p class="cs-item-text">
                            Track your site's performance, determine how much traffic you're getting, where it's coming from, what pages a user visits and more.
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">24 Hour Customer Service</h3>
                        <p class="cs-item-text">
                            Call anytime, day or night, we're willing to lose sleep over your site - so you don't have to.
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">You're Involved</h3>
                        <p class="cs-item-text">
                            You can be as involved as you like in the design process, we will setup meetings with you as frequently or infrequently as you like to make sure you're happy with the site and able to make any changes you need.
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Keep your domain</h3>
                        <p class="cs-item-text">
                            Decide to part ways with us? No problem, as a thank you for working with us we'll let you keep your sites domain name for free!
                        </p>
                        <span class="cs-fake-link">Read More
                            <!--Svg Arrow-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <g clip-path="url(#clip0_1_114)">
                                <path d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z" fill="#92038B"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1_114-282-282">
                                <rect width="20" height="20" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}
{% endblock %}